<h1>Login</h1>

<%= form_tag login_path do %>

  Email: <%= text_field_tag :email %>
  Password: <%= password_field_tag :password %>
  <%= submit_tag "Submit" %>

<% end %>

<p>If you click on me, I will disappear.</p>
<p>Click me away!</p>
<p>Click me too!</p>