<h1>Editing Details</h1>
 
<%= form_for current_user, url: user_update_path(current_user), method: :patch do |f| %>
 
<% if current_user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(current_user.errors.count, "error") %> prohibited this user from being saved:
      </h2>
      <ol>
        <% current_user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ol>
    </div>
  <% end %>
  Name: <%=   f.text_field :name %><br />
  Email: <%=  f.text_field :email %><br />
  Password:<%= f.password_field :password %><br />
  Password Confirmation: <%= f.password_field :password_confirmation %><br />
  Image: <%= f.file_field :avatar %><br />
  <p class="button"><%= f.submit %></p>

<% end %>

<%= link_to 'Back', login_path %>