<h1>Signup!</h1>

<%= form_for @user, url: users_path, :html => { :multipart => true } do |f| %>
 
 <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
 <% end %>
  Name: <%=   f.text_field :name %><br />
  Email: <%=  f.text_field :email %><br />
  Password:<%= f.password_field :password %><br />
  Password Confirmation: <%= f.password_field :password_confirmation %><br />
  Image: <%= f.file_field :avatar %><br />
  <p class="button"><%= f.submit %></p>

<% end %>
