hello

<br><%= image_tag current_user.avatar.url(:thumb) %> <br>
<% if current_user %>
  Logged in as <%= current_user.name %>
 <% else %>
   invalid current_user
 <% end %>
<%#= image_tag current_user.avatar.url %>
<%#= image_tag current_user.avatar.url(:medium) %>
<p>
  <strong>Name:</strong>
  <%= current_user.name %>
</p>
 
<p>
  <strong>Email Id:</strong>
  <%= current_user.email %>
</p>
<p> 

  <%= link_to 'Edit', user_edit_path(current_user.id) %>
</p>