<!DOCTYPE html>
<html>
<head>
  <title>GifVault</title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="user_nav">

<% if current_user %>
  Signed in as <%=  current_user.name %> | <%= link_to "Logout", logout_path %>
<% else %>
  <%= link_to 'Login', login_path %> | <%= link_to 'Signup', signup_path %>
<% end %>
</div >
<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash#{name}" %>
  <% end %>

<%= yield %>

</body>
</html>